* {
    margin: 0;
    padding: 0;
    line-height: 140%;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    background-image: url("assets/Compact_Blurple.png");
    background-size: 10em auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-image: url(assets/Header-bg2.png);
    background-size: 30% 100%;
    background-repeat: repeat-x;
    border: solid var(--paarsBlauw) 0.4em;
    border-radius: 1.5em;
    position: relative;
    margin: 0.5em;
    box-shadow: 0 0.3em 0.3em var(--steenGrijs);
    animation: backgroundMove 35s linear infinite;
    height: max-content;
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.label-search {
    margin-left: 0.8em;
}

.logo-img {
    max-height: 4em;
    min-height: 1em;
    cursor: pointer;

    @media only screen and (min-width: 930px) {
        max-height: 6em;
        min-height: 3em;
        cursor: pointer;
    }
}

.label-search-input {
    padding-left: 1.6em;

}

.dropdown-img {
    max-height: 6em;
    min-height: 3em;
    float: right;
    margin-top: -6em;
    margin-right: 0.8em;
    transition: all .6s ease;

    &:hover,
    &:active,
    &:focus {
        rotate: 360deg;
        filter: brightness(1.2);
    }

    @media only screen and (min-width: 930px) {
        max-height: 8em;
        min-height: 5em;
        margin-top: -8em;
        cursor: pointer;
    }
}

.dropdown-menu {
    position: relative;
    z-index: 1000;

    a {
        display: block;
        color: var(--secondaryAccent);
        padding: 10px 15px;
        text-decoration: none;
        transition: all .3s ease;
        z-index: 1000;


        &:hover,
        &:active,
        &:focus {
            transform: translateX(5px);
            color: var(--zee);
            font-weight: var(--font-weight-semibold);
            pointer-events: auto;
            opacity: 1;
            outline: none;
        }
    }

    &:hover .dropdown-items {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

    }
}

.dropdown-items {
    position: absolute;
    top: 100%;
    right: .1em;
    min-width: 140px;
    margin-top: 0;

    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;

    background-color: var(--luchtBlauw);
    box-shadow: 0 0.2em 0.3em var(--secondaryAccent);
    border-radius: 1em;

    transition:
        opacity .25s ease,
        transform .25s ease;

    padding: 6px 0;

    border: solid var(--paarsBlauw) 0.2em;
    border-radius: 1.2em;

    &:focus-within {
        opacity: 1;
    }

}

.news-title {

    text-align: center;
    font-style: italic;
    color: var(--primaryAccent);
    background-color: var(--paarsBlauw);
    background-image: url("assets/Buurtcampus\ 79.png");
    background-size: 5rem auto;
    background-repeat: no-repeat;
    background-position: left 28em center;
    background-position-y: 1em;
    border: solid hsl(240, 37%, 14%) 0.2em;
    border-radius: 1em;
    margin: 0.9em;
    padding-bottom: 0.5em;
    box-shadow: 0 0.2em 0.3em var(--steenGrijs);

    H1 {
        color: var(--primaryAccent);
        font-size: 2.5rem;
        font-style: normal;
    }
}

H3 {
    appearance: none;
    font-size: 1em;
    border-radius: 100px;
    border-color: #EA5B0B;
    border-style: solid;
    border-width: 0.2em;
    height: 1.5em;
    width: 9em;
    transition: all .2s ease-in, width .6s;
    padding-left: 2.3em;
    box-shadow: lch(21.9% 0.93 19.36) 0 0px 3px;
    color: white;
    background-color: #EA5B0B;
    background-image: url("assets/filterimg.png");
    background-size: 1.4em auto;
    background-repeat: no-repeat;
    background-position: .550em center;

    &:focus,
    &:active,
    &:hover {
        outline-width: 0.9em;
        width: 90%;
        filter: brightness(1.2);
    }
}

.uitklap-filter {
    position: relative;
    margin-left: 1em;

    button {
        display: inline;
    }

    &:hover h3 {
        width: 65%;
        filter: brightness(1.2);
    }

    &:hover .uitklap-items {
        opacity: 1;
        transform: translateX(1em);
        pointer-events: auto;
        filter: brightness(1.2);
    }

    .uitklap-items {
        opacity: 0;
        margin-left: 7em;
        margin-top: -1.7em;
        transition: all .3s ease;
    }

}

.filterbutton {

    font-size: 1em;
    border-radius: 100px;
    border-color: #EA5B0B;
    border-style: solid;
    border-width: 0.2em;
    background-color: #EA5B0B;
    color: white;
    height: 1.5em;
    width: 9em;
    margin: .2em;
    cursor: pointer;

}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.nieuws-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    width: 100%;
    place-items: center;
}

@media (min-width: 1080px) {
    .nieuws-section {
        grid-template-columns: 1fr 1fr;
        gap: 4em 2em;
    }

    .news-article:nth-child(odd) {
        grid-column: 1;
        justify-self: end;
        transform: translateY(2em);
        margin-top: 0em;
    }

    .news-article:nth-child(even) {
        grid-column: 2;
        justify-self: start;
        transform: translateY(15em);
        margin-top: 3em;
    }

    .Oost {
        border: solid 2px var(--secondaryAccent);
    background-color: var(--paarsBlauw);
    color: var(--primaryAccent);
    }
    .Nieuw-West{
        border: solid 2px var(--bosGroen);
    background-color: var(--mosGroen);
    color: var(--secondaryAccent);
    }
    .Zuidoost{
        border: solid 2px var(--secondaryAccent);
    background-color: var(--zee);
    color: var(--primaryAccent);
    }
    .Algemeen{
        border: solid 2px var(--modder);
    background-color: var(--kauwgomRoze);
    color: var(--secondaryAccent);
    }
}

.news-article {
    width: 100%;
    max-width: 35.5em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: #9c9b9b 3px 10px 15px;

    H2 {
        margin-top: .3em;
        margin-bottom: .7em;
    }


.article-img {
    width: 230px;
    height: 170px;
    margin: 10px 0;
    margin-bottom: 0px;
    border-radius: 5px;
}
}

.tower {
    position: fixed;
    bottom: -10px;
    right: -55px;
    width: 250px;
    height: auto;
    z-index: 1100;
}

#towerZO,
#TowerO,
#towerNW {
    bottom: -39px;
    width: 260px;
    right: -67px;
}

footer {
    position: relative;
    margin-top: 20em;
    margin-bottom: -5em;
    padding: 0;

    img {
        width: 100%;
        height: auto;
    }

    a {
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%, -53%);
        padding: 0.2em 1em;
        cursor: pointer;
        box-shadow: 2px 2px 4px var(--modder);

        @media only screen and (min-width: 930px) {
            padding: 0.9em 1.8em;
        }
    }
}